.juvelook-product h6 {
    /* padding-top: 0!important; */
    color: #1B5EA5 !important;
    font-family: "ParagraphFonts", serif !important;
    font-weight: bold;
    margin-bottom: 8px;

}

@media(min-width: 992px) {
  
    .subtitle-p {
        margin-bottom: 48px
    }

    .juvelook-product h6 {
        font-size: 0.875rem;
    }

    .juvelook-product li , .juvelook-product p {
        font-size: 13px !important;
    }

    .key-benifits-h6 {
        padding-top: 132px;


    }
}


@media(min-width:768px) and (max-width:991px) {
   html[dir='ltr'] .juvelook-product .container{
        padding-left: 96px !important;
        /* padding-right: 64px !important; */
    }
    /* html[dir='rtl'] .juvelook-product */



    html[dir='rtl'] .juvelook-product .container{
        padding-right: 96px!important;
    }
    .juvelook-product h5,
    .juvelook-product h6 {
        font-size: 11px !important;
        font-weight: 600 !important;
    }

    .juvelook-product p,
    .juvelook-product li {
        font-size: 9px !important;
    }

}