@media(min-width:768px) and (max-width:991px){
    .juvelook-product{
       padding-left: 64px!important;
       padding-right: 0!important;
    }
    .juvelook-product h5, .juvelook-product h6{
        font-size: 11px!important;
        font-weight: 600!important;
    }
    .juvelook-product p,.juvelook-product li{
        font-size: 9px!important;
    }
    
}