@media (min-screen: 992px){
    .general-shared-section{
        padding-top: 88px!important;
        padding-bottom: 88px!important;
    }
}



@media(min-width: 768px) and (max-width: 991px){
    .ksurgery-shared-section{
        padding-top: 27px!important;
        padding-bottom: 27px!important;
    }
    
}

@media(max-width:767px) {
    .ksurgery-shared-section {
        padding-top: 32px!important;
        padding-bottom: 48px!important;
        padding-left: 32px!important;
        padding-right: 32px!important;
    }
}