@media(min-width: 768px) and (max-width: 991px){
    .video-parent{
        height: 60vh!important;
    }
    .video-parent .video-text-holder{
        justify-content: end!important;
        align-items: start!important;
        padding-bottom: 120px;
        margin-top: 0!important;
        /* padding-left: 72px; */
        padding-left: 64px;

    }
    html[dir='rtl'] .video-parent .video-text-holder{
        padding-left: unset;
        padding-right: 64px;
    }
    .video-text-holder p{
        max-width: 75% !important;
        text-align: justify !important;
        font-size: 1.125rem !important;
        word-spacing: 1px;
    }
    .video-text-holder h3{
        text-align: start!important;
        font-size: 40px;
    }

    .video-parent .video-text-holder > div{
        width: 100!important;
    }
}


@media(max-width:767px){
    .ellanse .video-text-holder,
    .lanluma .video-text-holder,
    .dimono .video-text-holder,
    .maili .video-text-holder,
    .drcyj .video-text-holder,
    .juvelook .video-text-holder,
    .ksurgery .video-text-holder,
    .lenisna .video-text-holder,
    .renee .video-text-holder
    {
        margin-top: 0!important;
    }
    .basic-page h2,.about-video-hero {
        font-size: 2.25rem !important;
        font-weight: 400 !important;
    }

    .basic-page a ,.basic-page button{
        width: 240px !important;
        margin: 0 auto;
        color: #AC93E1 !important;
        background-color: white;
        border-color: white;
        font-weight: 400 !important;
        border-radius: 4px;
        font-size: 14px!important;
    }

    .basic-page a:hover ,
        .basic-page button:hover {
        background-color: #AC93E1 !important;
        color: white !important;
        border-color: #AC93E1 !important;

    }
    .basic-page .video-text-holder{
       margin-top:0!important 
    }
    .basic-page .video-text-holder p, .basic-page .video-text-holder p + div ,  
    .basic-page .video-text-holder a,
    .basic-page .video-text-holder button{
        margin-top: 8px!important;
        margin-left: auto;
        margin-right: auto;
    }
    .basic-page .video-text-holder p + div{
        margin-left: auto;
        margin-right: auto;
    }
   

  
}