.about-us-page-dual-section-2-holder{
    order: 2;
}

@media(min-width: 992px) {
   html[dir='ltr'] .about-us-page-dual-section-1,    html[dir='ltr']  .about-us-page-dual-section-2{
        padding-left: 132px;
        padding-right: 90px;

    }
    html[dir='rtl'] .about-us-page-dual-section-1,    html[dir='rtl']  .about-us-page-dual-section-2{
        padding-left: 90px;
        padding-right: 132px;
    }
    .dual-section-min-height-controller {
        min-width: 400px
    }
}

@media(min-width: 768px) and (max-width:991px) {

    .about-us-page-dual-section-1, .about-us-page-dual-section-2{
        padding-left: 64px;
        padding-right: 64px;
    }
    .about-us-page-dual-section-1 .container,
    .about-us-page-dual-section-1 .container>div,
    .about-us-page-dual-section-2 .container,
    .about-us-page-dual-section-2 .container>div {
        padding: 0 !important;
    }
}


@media(max-width: 767px) {

    .about-us-page-dual-section-1 .container,
    .about-us-page-dual-section-2 .container {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .about-us-page-dual-section-1 h3,
    .about-us-page-dual-section-2 h3 {
        font-size: 1.25rem !important;
    }

    .about-us-page-dual-section-1 p,
    .about-us-page-dual-section-2 p {
        text-align: left !important;
    }
}