@media(min-width: 992px) {
    html[dir='ltr'] .story-section-parent
    /* ,
    html[dir='rtl'] .story-section-parent.reverse  */
    {
        padding-left: 48px !important;
        padding-right: 72px !important;
    }

    html[dir='rtl'] .story-section-parent {
        padding-right: 48px !important;
        padding-left: 72px !important;
    }

    html[dir='ltr'] .story-section-parent.reverse {
        padding-right: 48px !important;
        padding-left: 96px !important;
    }


    html[dir='rtl'] .story-section-parent.reverse {
        padding-right: 96px !important;
        padding-left: 0 !important;
    }
    .story-section-parent .min-height-controller {
        min-height: 440px;
    }

    .story-section-parent .first-stack {
        padding-bottom: 0 !important;
        padding-top: 75px !important;
    }

    html[dir='ltr'] .story-section-parent .first-stack {
        padding-left: 32px !important;

    }

    html[dir='rtl'] .story-section-parent .first-stack {
        padding-right: 32px !important;

    }

    
    .dimono-story-section-1 .first-stack{
        padding-right: 32px;
    }
    .dimono-story-section-1{
        padding-bottom: 0!important;
    }
    .lanluma-story-section-2 .image-box > div{
        height: 400px;
        top:0;
    }
    html[dir='rtl'] .lanluma-story-section-2 .image-box > div{
        height: 420px;
    }
    html[dir='rtl'] .lanluma-story-section-2 .image-box > div{
        height: 420px;
    }

   html[dir='rtl'] .lanluma-story-section-1::before, html[dir='rtl'] .ellanse-story-section-1::bef{
        transform: none !important;

    }
    .ellanse-story-section-3 .first-stack {
        padding-top: 35px !important;
    }

    .renee-story-1 .min-height-controller {
        min-height: 430px !important;
    }

    .story-section-parent.drcyj-story-1 .min-height-controller {
        min-height: 447px !important;
    }

    .ksurgery-story-2 .min-height-controller,
    .story-section-parent.ellanse-story-section-2 .min-height-controller {
        min-height: 435px !important;
    }

    .story-section-parent.ksurgery-story-2 .first-stack,

    .story-section-parent.ellanse-story-section-2 .first-stack,
    .story-section-parent.lanluma-story-section-2 .first-stack,
    .story-section-parent.maili-story-section-2 .first-stack {



        padding-left: 0 !important;
    }

    html[dir='rtl'] .story-section-parent.ksurgery-story-2 .first-stack,

    html[dir='rtl'] .story-section-parent.ellanse-story-section-2 .first-stack,
    html[dir='rtl'] .story-section-parent.lanluma-story-section-2 .first-stack,
    html[dir='rtl'] .story-section-parent.maili-story-section-2 .first-stack {



        padding-right: 0 !important;
        padding-left: 96px !important;
    }



    .story-section-parent.dimono-story-2 .first-stack {
        padding-right: 0 !important;
    }

    html[dir='rtl'] .story-section-parent.dimono-story-2 .first-stack {
        padding-right: 96px !important;
        padding-left: 0 !important;
    }

    .story-section-parent.ellanse-story-section-1 span,
    .story-section-parent.ellanse-story-section-2 span,
    .story-section-parent.ellanse-story-section-3 span {
        font-size: 18px !important;

    }

    .story-section-parent.renee-story-1 .first-stack {
        padding-top: 48px !important;
        padding-left: 84px !important;
        padding-right: 56px !important;
    }


    .story-section-parent.renee-story-2 ul {
        padding-left: 12px;

    }

    html[dir='rtl'] .story-section-parent.renee-story-2 ul {
        padding-right: 12px !important;

    }

    .story-section-parent.renee-story-2 .first-stack {
        padding-top: 70px !important;
    }


    .story-section-parent.ellanse-story-section-1 .first-stack {
        padding-left: 88px;

    }

    .story-section-parent.ellanse-story-section-3 .min-height-controller {
        min-height: 440px !important;
    }




    .story-section-parent .min-height-controller h3 {
        font-size: 24px;
    }

    .story-section-parent .min-height-controller h3+p,
    .story-section-parent .min-height-controller h3+span {
        font-size: 18px;
        line-height: 1.4;
        text-align: justify;

    }
}

@media(min-width: 768px) and (max-width: 991px) {

    .story-section-parent>div {
        padding: 0 !important;
    }

    .story-section-parent {
        padding-left: 48px;
        padding-right: 48px;
    }

    .story-section-parent .first-stack {
        padding-bottom: 0 !important;
    }


    .story-section-parent .first-stack h3 {
        font-size: 1.25rem;
    }

    .story-section-parent span,
    .story-section-parent p {
        text-align: justify !important;
        font-size: 13px;
        line-height: 1.4 !important;
    }

    .renee-story-1 p {
        font-size: 14px !important;

    }

    .renee-story-1 .first-stack {
        padding-right: 40px;

    }

    .drcyj-story-section-1 .first-stack {
        padding-left: 48px !important;
        padding-right: 0px !important;
        padding-top: 40px !important;
        padding-bottom: 48px !important;
    }

    .renee-story-2 .first-stack {
        padding-left: 0;
        padding-right: 100px;
        padding-top: 32px;
        padding-bottom: 64px;
    }

    .renee-story-2 .first-stack ul {
        padding-left: 12px !important;
        line-height: 1.6;
    }

    .renee-story-2 .first-stack li {
        font-size: 14px !important;
    }

    .ksurgery-story-1,
    .ksurgery-story-2 {
        padding-right: 12px;
        padding-left: 12px;

    }

    .ksurgery-story-1 .first-stack {
        padding-right: 8px !important;
        padding-bottom: 40px !important;
        padding-top: 60px !important;

    }

    .ksurgery-story-1 .min-height-controller {
        min-height: 350px !important;
    }

    .ksurgery-story-1 span {
        line-height: 1.4 !important;
    }

    .ksurgery-story-2 .first-stack {
        padding-left: 0 !important;
        padding-right: 48px;
    }

    .story-section-parent.ksurgery-story-2 span {
        font-size: 14px !important;
    }

    .ksurgery-story-2 .image-box>div,
    .maili-story-section-2 .image-box>div,
    .ellanse-story-section-2 .image-box>div {
        left: -56px !important;
    }

    .lanluma-story-section-1 .first-stack,
    .maili-story-section-1 .first-stack {

        padding-right: 0 !important;
    }

    .lanluma-story-section-1 .min-height-controller,
    .maili-story-section-1 .min-height-controller {
        min-height: 350px !important;
    }

    .ellanse-story-section-2 .min-height-controller {
        min-height: 400px !important;
    }

    .lanluma-story-section-1 {
        padding-left: 24px;
        padding-right: 24px;
    }

    /* .lanluma-story-section-1, */
    .lanluma-story-section-2,
    .lanluma-story-section-3,
    .maili-story-section-1,
    .maili-story-section-2,
    .ellanse-story-section-1,
    .ellanse-story-section-2,
    .ellanse-story-section-3,
    .renee-story-1,
    .drcyj-story-section-1,
    .dimono-story-section-1 {
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 32px !important;
    }

    .renee-story-2 {
        padding: 40px !important;
    }

    /* .maili-story-section-1,.maili-story-section-2{
        padding-left: 24px;
        padding-right: 24px;
    } */

    .lanluma-story-section-1 .first-stack,
    .lanluma-story-section-2 .first-stack,
    .ellanse-story-section-1 .first-stack,
    .lanluma-story-section-3 .first-stack,

    .maili-story-section-1 .first-stack {
        padding-top: 48px;

    }

    .ellanse-story-section-3 .first-stack {
        padding-top: 8px !important;
        padding-right: 8px !important;
    }

    .story-section-parent h3 {
        font-weight: 600 !important;
        font-size: 1.25rem;

    }

    .story-section-parent .first-stack {
        padding-bottom: 0 !important;
    }

    .lanluma-story-section-1 span,
    .lanluma-story-section-2 span,
    .lanluma-story-section-3 span,
    .maili-story-section-1 span,
    .ellanse-story-section-1 span,
    .ellanse-story-section-2 span,
    .ellanse-story-section-3 span,


    .drcyj-story-section-1 span {
        font-size: 14px !important;
        line-height: 1.4;
    }

    .lanluma-story-section-2 .min-height-controller,
    .maili-story-section-1 .min-height-controller,
    .ellanse-story-section-2 .min-height-controller,
    .ellanse-story-section-1 .min-height-controller,
    .ellanse-story-section-3 .min-height-controller {
        min-height: 350px !important;
    }

    .lanluma-story-section-2 .first-stack,
    .maili-story-section-2 .first-stack,
    .ellanse-story-section-2 .first-stack {
        padding-left: 0;
    }

    .lanluma-story-section-2 .image-box>div {
        left: -55px;
    }

    .lanluma-story-section-3 .min-height-controller {
        min-height: 350px !important;
    }

    .lanluma-story-section-3 .first-stack,
    .ellanse-story-section-1 .first-stack,
    .dimono-story-section-1 .first-stack {
        padding-right: 0 !important;
    }

}

@media(min-width: 768px) {

    .ksurgery-story-1,
    .ksurgery-story-2 {
        background-color: #E0FFF5 !important;
    }
}

@media(max-width:767px) {
    .ksurgery-story-1 .image-box {
        display: none;
    }

    .ksurgery-story-2 {
        padding-top: 0 !important;
    }

    .ksurgery-story-2 .image-box {
        transform: scaleX(-1);
        height: 285px !important;
        margin-bottom: 0;

    }

    .ksurgery-story-2 .image-box>div {
        /* position: relative !important; */
        width: 105%;

        top: 0 !important;
        left: -16px;
        height: 100%;

    }

    .ksurgery-story-2 .image-box>div>div {
        background-size: cover;
        margin-top: 32px;
    }


    .renee-story-1 .image-box {
        height: 60vh;
        order: 2;
        margin-top: 36px;
    }

    .renee-story-1 .image-box>div {
        width: 105%;
        top: 0 !important;
        left: 0;
        height: 100%;
    }

    .renee-story-2 {
        padding-top: 0 !important;

        padding-left: 16px !important;
        padding-right: 16px !important;


    }

    .renee-story-2 .image-box,
    .ellanse-story-section-1 .image-box,
    .lanluma-story-section-1 .image-box {
        display: none;
    }

    .lanluma-story-section-1 {
        margin-top: 100px;
        padding-bottom: 100px !important;
    }

    .lanluma-story-section-1 .story-section-text-holder {
        margin-top: 45px;
    }

    .lanluma-story-section-1 .story-section-text-holder {
        position: relative;
        padding-top: 0 !important;
    }

    .lanluma-story-section-1 .story-section-text-holder:before {
        content: "";
        position: absolute;
        bottom: 99%;
        left: 0;
        height: 147px;
        width: 100%;
        background-image: url('../../../assets/lanluma/story-section-1-bg.svg');
        background-repeat: no-repeat;
        background-size: cover !important;
    }

    .renee-story-2 li {
        text-align: left;
    }

    .renee-story-2 h3 {
        font-size: 1.25rem;
    }

    .ellanse-story-section-2 {
        padding-top: 0 !important;
    }

    .lanluma-story-section-1 .story-section-text-holder {
        height: 40vh;
    }

    .lanluma-story-section-1 .story-section-text-holder>div {
        padding: 32px !important;
        left: 0;
        position: relative;
        width: 100%;
    }



    .ellanse-story-section-2 .image-box {
        order: -1;
        padding-top: 0 !important;
        margin-top: -8px;
        transform: scaleX(-1);
        left: 16px;
    }

    .ellanse-story-section-3 .image-box>div {
        top: 0;

        left: 0;
        height: 80%;

    }

    .ellanse-story-section-3 .story-section-text-holder {
        padding-top: 0;
        margin-top: -20px;
    }

    .lanluma-story-section-2 {
        padding-top: 0 !important;
        padding-bottom: 30px !important;
        margin-top: -27px;

    }

    .lanluma-story-section-2 .image-box {
        display: none;
    }

    .lanluma-story-section-1>div>div {
        width: 100%;
        position: relative;
        left: 16px;
    }


    .lanluma-story-section-1 .story-section-text-holder {
        padding-left: 0 !important;
    }

    .lanluma-story-section-2 .story-section-text-holder {
        padding-top: 0 !important;
    }

    .lanluma-story-section-2 .story-section-text-holder>div {
        padding: 32px 0;

    }

    .lanluma-story-section-2 .story-section-text-holder h3 {
        font-size: 1.25rem;
    }

    /* .lanluma-story-section-2 .story-section-text-holder span {
        margin-bottom: 40px
    } */

    .lanluma-story-section-3 .story-section-text-holder span {
        padding-bottom: 30px;

    }

    .lanluma-story-section-3 {
        padding-bottom: 0 !important;
    }

    .lanluma-story-section-3 .image-box,
    .maili-story-section-1 .image-box,
    .maili-story-section-2 .image-box,
    .dimono-story-section-1 .image-box,
    .about .image-box {
        display: none;
    }

    .story-section-text-holder>div {
        padding: 16px !important;
    }

    .maili-story-section-2 {
        padding-bottom: 0 !important;
    }

    .maili-story-section-2 h3 {
        font-size: 1.25rem;
    }

    .maili-story-section-2 .story-section-text-holder>div {
        padding: 32px 16px !important;
    }

    .drcyj-story-section-1 .image-box {
        order: 2;
    }

    .drcyj-story-section-1 .image-box>div {

        width: 100%;
        position: relative;
        top: 10% !important;
        left: 0;
        height: 100%;
    }

    .about>div>div {
        padding: 0 !important
    }

    .about h3 {
        font-size: 1.25rem !important;
    }

    .about p {
        font-size: 0.8375rem !important;
        padding-bottom: 40px;
    }
}